.main
{
	margin-top: 130px;
}
.main-swiper {
	position: relative;
  width: 100%;
  height: 100%;
  margin-top: 15px;
}
.main-swiper .swiper-wrapper .swiper-slide img
{
	width: 100%;
	height: 100%;
	object-fit: stretch;
}
h1.underlined
{
	line-height: 35px !important;
}
.swiper-pagination
{
	z-index: 2 !important;
}
.swiper-pagination-bullet
{
	opacity: 1 !important;
	background:#fff !important;
	transition:all .3s linear !important;
}
.swiper-pagination-bullet-active
{
	border-radius: 5px !important;
	background-color:#fa7600 !important;
	width:30px !important;
}
.topbar
{
	background: #fff !important;
}
.topbar .menu span{
	color: #12121290 !important;
	height: 100%;
	font-style: bold;
	margin: 0px 15px 0px 15px;
}
.topbar .menu span a
{
	color: #12121290 !important;
}
.topbar .menu span i.bx-menu
{
	font-size: 20px;
	color: #12121290 !important;
	margin: 0px;
	transform: translateY(0);
}
.topbar .menu span#menu-icon > span
{
	height: auto;
	padding: 5px 10px 5px 10px;
	border: 2px solid #fa7600;
	border-radius: 25px;
}
.topbar .menu span#menu-icon > span > span
{
	color: #12121290 !important;	
}