@keyframes fading
{
	0%{
		opacity: 0;
	}
	30%{
		opacity: 1;
	}
	80%
	{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
i
{
	transform: translateY(15%);
}
.block
{
	opacity: 0;
}
*{
	margin: 0px;
	padding: 0px;
	color: #12121280;
	font-family: 'Kanit','Finlandica','Exo 2','Cario','Source Sans Pro',sans-serif,helvetica,arial;
}
:root
{
	--color-primary:  #F7A600;
}
.link-1
{
	text-decoration: none;
}
a
{
	-webkit-tap-highlight-color: transparent;
}
p{
	color: #12121270;
}
.link-1:hover,
a:hover{
	color: var(--color-primary) !important;
}
body
{
	margin: 0px;
	padding: 0px;
}
#go-to-top
{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	font-size: 30px;
	padding: 10px;
	border-radius: 50%;
	background: #fa7600;
	bottom: 10px;
	right: 10px;
	z-index: 100;
	margin: 10px;
	color: #fff;
	box-shadow: 1px 1px 10px #12121230;
	display: none;
	transition: all 0.5s ease;
	opacity: 0.7;
}
#go-to-top i
{
	color: #fff;
}
#go-to-top:hover 
{
	background: #fff;
}
#go-to-top:hover i
{
	color: #fa7600;
}
.sidebar
{
	display: none;
}
.topbar
{
	width: calc(100% - 10px);
	height: 100px;
	padding: 5px;
	padding-top: 20px;
	position: fixed;
	top: 0px;
	background: none;
	z-index: 5;
	transition: all 0.5s ease;
	background: linear-gradient(180deg,#ffffff30,#00000000,#00000000);
}
.topbar .showable-1
{
	width: 100%;
	height: 100%;
}
.topbar .icon
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 100%;
	padding: 0px;
}
.topbar .name
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 55px;
}
.topbar .icon img
{
	width: auto;
	height: calc(100% - 0px);
	margin: 0px;
	transition: all 1s ease;
}
.topbar .menu
{
	display: inline-flex;
	align-items: space-between;
	width: auto;
	height: calc(100% - 15px);
	position: absolute;
	right: 0px;
}
.topbar .menu span{
	font-size: 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff !important;
	height: 100%;
	font-style: bold;
	margin: 0px 15px 0px 15px;
}
.topbar .menu span a
{
	color: #fff;
}
.topbar .menu span i.bx-menu
{
	font-size: 20px;
	color: #fff;
	margin: 0px;
	transform: translateY(0);
}
.topbar .menu span#menu-icon > span
{
	height: auto;
	padding: 5px 10px 5px 10px;
	border: 2px solid #fa7600;
	border-radius: 25px;
}
.topbar .menu span#menu-icon > span > span
{
	margin: 0px;
}
.topbar .full-menu
{
	display: none;
	overflow: hidden;
	transition: all 0.5s ease
}
.topbar .full-menu .item{
	width: calc(100% - 12px);
	height: 30px;
	overflow: hidden;
	min-height: 30px;
	padding: 5px;
	border-bottom: 1px solid #12121230;
}
.topbar .full-menu .item .sub-item i,
.topbar .full-menu .item i
{
	font-size: 23px;
	transform: translateY(15%);
}
.topbar .full-menu .item .more
{
	float: right;
	text-align: right;
}
.topbar .full-menu .item.sub a
{
	cursor: none;
}
.topbar .full-menu .item.sub.opened .sub-item
{
	right: 0;
}
.topbar .full-menu .item.sub .sub-item
{
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 5;
	background: #fff;
	top: 100px;
	bottom:0px;
	right: -100%;
	transition: all 0.5s ease;
}
.topbar .full-menu .item.sub .item-clicker
{
	display: block;
	width: 100%;
	height: 30px;
	background: none;
	transform: translateY(-100%);
	z-index: 10;
	opacity: 0;
}
.topbar .full-menu .sub-item .item
{
	width: calc(100% - 32px);
	padding-left: 20px;
}
.topbar .full-menu .sub-item .item.item-back
{
	width: calc(100% - 12px);
	padding-left: 0;
	color: #121212;
}
.topbar.scrolled 
{
	padding: 5px;
	background: #121212;
	box-shadow: 1px 1px 10px #12121230;
}
/*
.topbar.scrolled  .menu span{
	color: #12121290 !important;
}
.topbar.scrolled .menu span a
{
	color: #12121290;
}
.topbar.scrolled .menu span i.bx-menu
{
	color: #12121290;
}
*/
.main
{
	width: calc(100% - 30px);
	height: auto;
	min-height: 100vh;
	padding: 15px;
	/*margin-top: calc(100vh - 150px);*/
	background: none;
	/*border-radius: 30px 30px 0px 0px;*/
	z-index: 1;
	/*box-shadow: 1px 1px 10px #121212;*/
	transition: all 1s ease;
	overflow: scroll;
}
.footer
{
	position: relative;
	bottom: 0;
	width: 100%;
	min-height: 100px;
	background: #121212;
	color: #fff;
}
.footer .search
{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-primary);

}
.footer .search input[type=search]:focus
{
	box-shadow: 0.5px 0.5px 10px #32bedd;
}
.footer .search input[type=search]
{
	
	width: 250px;
	height: 35px;
	padding: 5px;
	outline: none;
	border: 0;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 0.5px 0.5px 1px #12121230;
	margin: 10px;
	margin-right: 0px;
}
.footer .search button
{
	width: 40px;
	background: #121212;
	color: #fff;
	outline: none;
	border: 0;
	height: 35px;
	padding: 5px;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 0.5px 0.5px 1px #12121230;
	margin-left: 0px;
}
.footer .search button i{
	font-size: 15px;
	color: #fff;
}
.footer .content{
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 50px);
	min-height: 100px;
	margin: 15px;
	padding: 10px;
	color: #fff;
}
.footer .content .footer-block
{
	width: calc(33% - 10px);
	height: 100%;
	margin: 5px;
	min-height: 100%;
	color: #fff;
	text-align: left;
	border-right: 1px solid #ffffff30;
}
.footer .content .footer-block h4
{
	color: #ffffff;
	margin-bottom: 10px;
}
.footer .content .footer-block a
{
	margin-top: 5px;
	color: #ffffff90;
	text-decoration: none;
	display: block;
}
.footer .content .footer-block a i
{
	color: #fa7600;
	font-size: 15px;
	margin-right: 5px;
}

.new-small
{
	width: 20px;
}
.preload-img
{
	opacity: 0;
	transition: all 0.5s ease;
}

.underlined
{
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 18px;
}
.underlined:after
{
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid var(--color-primary);
}
.underlined-left
{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.underlined-left:before
{
	content: '';
	margin-right: 5px;
	border-left: 2px solid var(--color-primary);
}
.underlined.u-white:after
{
	border-bottom: 2px solid #fff;
}
.content-block
{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.content-block .head
{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.content-block .content
{
	width: 100%;
}

h1
{
	color: #121212;
}
h2{
	color: #121212;
}
h3
{
	color: #12121290;
}
h4
{
	color: #12121285;
}
h5
{
	color: var(--color-primary);
}
h6
{
	color: var(--color-primary);
}
.c-white{color: #fff !important;}
.c-primary{color: #fa7600 !important;}
.t-v-small{font-size: 13px;}
.t-o-ellipse{
	text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
@media only screen and (max-width: 1000px)
{
	/*MEDIUM DEVICE TABLET*/
	.topbar
	{
		height: 90px;
	}
	.topbar.scrolled .menu span#menu-icon > span
	{
		background: none;
		border: 0;
	}
	.topbar .menu > span.menu-icon > span > span{
			display: none;
	}
	.topbar .icon img
	{
		height: 100%;
		margin: 0px;
	}
}
@media only screen and (max-width: 850px)
{
	/*TABLET SMALL DESIGN*/
	.topbar
	{
		height: 100px;
	}
	.topbar .menu > span {
			display: none;
	}
	.topbar .menu > span.menu-icon > span > span{
			display: none;
	}
	.topbar .menu span.menu-icon {
			display: inline-flex;
			width: 50px;
	}
	.topbar .menu span.menu-icon i.bx-menu {
			font-size: 35px;
	}
	.topbar .menu span#menu-icon > span
	{
		background: #fa7600;
	}
	.topbar .icon img
	{
		height: 100%;
		margin: 0px;
	}
	.topbar.menu-opened
	{
		margin: 0;
		height: auto;
		background: #fff;
		box-shadow: 1px 1px 10px #12121230;
	}
	.topbar.menu-opened .icon
	{
		height: 100px;
	}
	.topbar.menu-opened.scrolled
	{
		height: auto;
	}
	.topbar.menu-opened .showable-1
	{
		padding-top: 10px;
	}
	.topbar.menu-opened .menu
	{
		height: auto !important;
		margin: 25px !important;
	}
	.topbar.menu-opened .menu span > a
	{
		color: #12121290;
	}
	.topbar.menu-opened .menu span#menu-icon > span
	{
		background: none;
		border: 0;
	}
	.topbar.menu-opened .menu span i.bx-menu
	{
		color: #12121290;
	}

	.topbar.menu-opened .full-menu
	{
		display: block;
		width: 100%;
		height: 100vh !important;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background: #fff;
		z-index: 20;
	}
	.topbar.menu-opened.scrolled
	{
		background: #fff;
	}
	.topbar.menu-opened .full-menu .head
	{
		display: block;
		width: calc(100% - 20px);
		height: 80px;
		min-height: auto;
		background: #121212;
		color: #fff;
		padding: 10px;
		margin-bottom: 0px;
	}
	.topbar.menu-opened .full-menu .head .icon
	{
		height: calc(100% - 0px);
		width: 100%;
	}
	.topbar.menu-opened .full-menu .head .icon img
	{
		height: 100%;
	}
	.topbar.menu-opened .full-menu .head .cont
	{
		display: inline-block;
		width: calc(100% - 25px);
		height: 70px;
	}
	.topbar.menu-opened .full-menu .head .close
	{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		background: #fff;
		float: right;
		border-radius: 50%;
	}
	.topbar.menu-opened .full-menu .head .close i
	{
		transform: translateY(0);
	}
}
@media only screen and (max-width: 500px)
{
	/*MOBILE DEVICE*/
	.topbar
	{
		height: 70px;
		padding: 5px;
	}
	.topbar.menu-opened .menu
	{
		height: auto !important;
		margin: 10px !important;
	}

	.topbar.scrolled
	{
		/*height: 50px;
		padding: 5px;*/
	}
	.topbar .icon
	{
		display: inline-flex;
			width: auto;
			height: 100%;
			padding: 0px;
			margin: 0px;
	}
	.topbar.scrolled .icon
	{
	/*	height: calc(100% - 20px);
		padding: 10px;*/
	}
	.topbar .menu
	{
		display: inline-block;
			width: auto;
			height: calc(100% - 0px);
	}
	.topbar.scrolled .menu
	{
		height: calc(100% - 10px);
	}
	.topbar .icon img
	{
		height: 100%;
		margin: 0px;
		padding: 0;
		margin: 0;
	}
	.topbar .menu > span {
			display: none;
	}
	.topbar .menu > span.menu-icon > span > span{
			display: none;
	}
	.topbar .menu > span#menu-icon > span
	{
		padding: 3px 5px 3px 5px;
		border-radius: 10px;
	}
	.topbar .menu > span.menu-icon > span i.bx-menu
	{
		font-size: 28px;
	}
	.topbar .menu span.menu-icon {
			display: inline-flex;
			width: 50px;
	}

	.footer .content
	{
		display: flex;
		flex-direction: column;
	}
	.footer .content .footer-block
	{
		width: calc(100% - 10px);
	}
}