*{
	margin: 0px;
	padding: 0px;
	color: #12121270;
}
:root
{
	--color-primary:  #F7A600;
}
.link-1
{
	text-decoration: none;
	color: #12121290;
}
.link-1:hover,
a:hover{
	color: var(--color-primary);
}
body
{
	margin: 0px;
	padding: 0px;
}
.sidebar
{
	display: none;
}
.topbar
{
	width: calc(100% - 10px);
	height: auto;
	padding: 5px;
	position: absolute;
	top: 0px;
}
.topbar .icon
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 100%;
}
.topbar .name
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 55px;
}
.topbar .icon img
{
	width: auto;
	height: 100px;
	margin: 20px;
}
.topbar .menu
{
	display: inline-flex;
	align-items: space-between;
	width: auto;
	height: calc(100% - 10px);
	padding: 5px;
	position: absolute;
	right: 0px;
}
.topbar .menu span{
	font-size: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #121212;
	height: 100%;
	margin: 0px 15px 0px 15px;
}
.topbar .menu span i.bx-menu
{
	font-size: 30px;
}
.main
{
	width: calc(100% - 20px);
	height: auto;
	min-height: 100vh;
	margin: 10px;
	margin-top: 160px;
}
.footer
{
	width: 100%;
	min-height: 100px;
}