*{
	margin: 0px;
	padding: 0px;
	color: #12121270;
	font-family: 'Kanit','Finlandica','Exo 2','Cario','Source Sans Pro',sans-serif,helvetica,arial;
}
:root
{
	--color-primary:  #F7A600;
}
.link-1
{
	text-decoration: none;
	color: #12121290;
}
.link-1:hover,
a:hover{
	color: var(--color-primary);
}
body
{
	margin: 0px;
	padding: 0px;
}
.sidebar
{
	display: none;
}
.topbar
{
	width: calc(100% - 10px);
	height: auto;
	padding: 5px;
	position: fixed;
	top: 0px;
	background: #fff;
	z-index: 5;
	transition: all 0.5s ease;
}
.topbar .icon
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 100%;
}
.topbar .name
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 55px;
}
.topbar .icon img
{
	width: auto;
	height: 50px;
	margin: 20px;
	transition: all 1s ease;
}
.topbar .icon img.scrolled
{
	width: auto;
	height: 35px;
	margin: 0px;
}
.topbar .menu
{
	display: inline-flex;
	align-items: space-between;
	width: auto;
	height: calc(100% - 10px);
	padding: 5px;
	position: absolute;
	right: 0px;
}
.topbar .menu span{
	font-size: 17px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #121212;
	height: 100%;
	margin: 0px 15px 0px 15px;
}
.topbar .menu span i.bx-menu
{
	font-size: 30px;
}
.main
{
	width: calc(100% - 30px);
	height: auto;
	min-height: 100vh;
	padding: 15px;
	margin-top: 90vh;
	background: #fff;
	border-radius: 30px 30px 0px 0px;
	z-index: 1;
	box-shadow: 1px 1px 10px #121212;
	transition: all 1s ease;
}
.footer
{
	width: 100%;
	min-height: 100px;
	background: #121212;
	color: #fff;
}
.footer .search
{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-primary);

}
.footer .search input[type=search]:focus
{
	box-shadow: 0.5px 0.5px 10px #32bedd;
}
.footer .search input[type=search]
{
	
	width: 250px;
	height: 35px;
	padding: 5px;
	outline: none;
	border: 0;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 0.5px 0.5px 1px #12121230;
	margin: 10px;
	margin-right: 0px;
}
.footer .search button
{
	width: 40px;
	background: #121212;
	color: #fff;
	outline: none;
	border: 0;
	height: 35px;
	padding: 5px;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 0.5px 0.5px 1px #12121230;
	margin-left: 0px;
}
.footer .search button i{
	font-size: 15px;
	color: #fff;
}
.footer .content{
	width: calc(100% - 30px);
	margin: 15px;
	color: #fff;
}
.slideshow
{
    display: block;
	width: 70%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 0;
}
.slideshow .slide
{
	width: 100%;
	height: 100%;
	display: inline-block;
	
}
.slideshow .slide:before
{
	content: '';
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: inline-block;
	-moz-box-shadow:inset 0 0 10px #F7A600;
	-webkit-box-shadow: inset 0 0 10px #F7A600;
	box-shadow: inset 0 0 10px #F7A600;
	transition: all 0.5s ease;
}
.latest-widget
{
    display: flex;
    align-items: space-between;
    width: 100%;
    height: 400px;
}
.latest-widget .latest-news
{
    display: inline-block;
    position: relative;
    width: calc(50% - 120px);
    height: calc(100% - 20px);
    margin: 0px;
    padding: 10px;
    color: #fff;
    background: #F7A600;
}
/*
.latest-widget .latest-news:before
{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: -250px;
    z-index: -1;
    background: linear-gradient(110deg,transparent,transparent,transparent,transparent,transparent,transparent,transparent,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600,#F7A600);
}
*/
.latest-news h3
{
    color: #fff;
    display: block;
}
.latest-news .marquee-top
{
	color: #fff;
	z-index: 10;
	display: block;
    width: calc(100% - 20px);
    height: calc(100% - 30px);
    margin: 10px;
}

.latest-news .marquee-top a
{
	color: #fff;
	text-decoration: none;
}
.parallex
{
	position: fixed;
	top: 110px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: url('/resources/pics/clg_1.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
.parallex .parallex-cont
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #12121230;
}
.parallex .parallex-cont > div
{
	transform: translateY(-50%);
}
.parallex .head
{
	color: #fff;
	text-shadow: 10px;
	text-align: center;
	margin-bottom: 30px;

}
.parallex .parallex-icons
{
	display: grid;
	grid-template-columns: auto auto auto;
	gap:  30px;
}
.parallex .parallex-icons .icon
{
	width: 60px;
	height: 60px;
	padding: 10px;
	background: #fff;
	border-radius: 50%;
}
.parallex .parallex-icons .icon center
{
	color: #fff;
}
.parallex .parallex-icons .icon img
{
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	margin: 10px;
}
.new-small
{
	width: 20px;
}
@media only screen and (max-width: 800px) {
  
  .topbar .menu span {
  	display: none;
  }.topbar .menu span.menu-icon {
  	display: inline-flex;
  }
}
@media only screen and (max-width: 600px) {
	
	.topbar .icon
	{
		display: inline-block;
  		width: calc(100% - 50px);
  		height: 55px;
	}
	.topbar .icon img
	{
		width: calc(100% - 20px);
		height: auto;
		margin: 10px;
	}
	.topbar .icon img.scrolled
	{
		width: auto;
		height: 30px;
		margin: 10px;
	}
	.topbar .menu span {
  		display: none;
	}.topbar .menu span.menu-icon {
  		display: inline-flex;
	}
	.main{
		margin-top: calc(80vh + 85px);
	}
	.latest-widget
    {
        display: block;
        height: 500px;
    }
    .slideshow
    {
        display: block;
        width: 100%;
        height: 250px;
    }
    .latest-widget .latest-news
    {
        width: calc(100% - 20px);
        display: block;
        background: #f7a600;
        height: 220px;
        padding: 10px;
        color: #fff;
        margin-top: 10px;
    }
    /*
    .latest-widget .latest-news:before
    {
        content: '';
        display: none;
        background: #00000000;
    }*/
    .parallex
	{
		position: fixed;
		top: 0px;
		
		height: 100%;
	}
}
