
.main
{
	width: calc(100% - 30px);
	height: auto;
	min-height: 100vh;
	padding: 15px;
	margin-top: calc(100vh - 150px);
	background: #fff;
	/*border-radius: 30px 30px 0px 0px;*/
	z-index: 1;
	/*box-shadow: 1px 1px 10px #121212;*/
	transition: all 1s ease;
	overflow: scroll;
}
.explore
{
	-webkit-tap-highlight-color: transparent;
	padding: 5px 15px 0px 15px;
	cursor: pointer;
	background: #fff;
	position: absolute;
	bottom: 0px;
	left: 50%;
	height: auto;
	width: auto;
	z-index: 5;
	transform: translateX(-50%) !important;
	border-radius: 50% 50% 0 0;
	box-shadow: 1px 1px 1px 0px 10px #12121230;
	transition: all .5s ease;
}
.explore i
{
	font-size: 30px;
}
.slideshow .slide:before
{
	content: '';
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: inline-block;
	-moz-box-shadow:inset 0 0 10px #F7A600;
	-webkit-box-shadow: inset 0 0 10px #F7A600;
	box-shadow: inset 0 0 10px #F7A600;
	transition: all 0.5s ease;
}
.latest-widget
{
    display: flex;
    align-items: space-between;
    width: 100%;
    height: 430px;
    overflow: visible;
    margin-bottom: 10px;
    margin-bottom: 30px;
}
.latest-widget .latest-widget-swiper {
	position: relative;
  width: 60%;
  height: 100%;
  margin-top: 15px;
}
.latest-widget .latest-widget-swiper .swiper-wrapper .swiper-slide img
{
	width: 100%;
	height: 100%;
	object-fit: stretch;
}
.latest-widget .latest-news
{
    display: inline-block;
    position: relative;
    width: calc(50% - 40px);
    height: calc(100% - 20px);
    margin: 0px;
    padding: 10px;
    color: #12121290;
    background: #fff;
    z-index: 1;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 10px #12121240;
    /*border: 2px solid #fa7600;*/
}
.latest-news h3
{
    color: #12121290;
    display: block;
}
.latest-news .news-nav
{
	position: relative;
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 30px;
	/*transform: translateY(-50%);*/
	z-index: 5;
}
.latest-news .news-nav.news-down
{
	top: -20px;
}
.latest-news .news-nav.news-up
{
	top: -490px;
}
.latest-news .news-nav i:hover
{
	background: #fff;
	color: #fa7600;
}
.latest-news .news-nav i
{
	z-index: 5;
	padding: 5px;
	border-radius: 50%;
	background: #fa7600;
	color: #fff;
	box-shadow: 1px 1px 10px #12121230;
}
.latest-news .news-swiper
{
	color: #fff;
	z-index: 5;
	display: block;
    width: calc(100% - 10px);
    height: calc(100% - 25px);
    margin: 5px;
    overflow: hidden;
}
.latest-news .news-swiper .swiper-slide
{
	z-index: 1;
}
.latest-news .news-swiper a
{
	color: #fff;
	text-decoration: none;
}/*
.latest-news .news-swiper a:hover .dated-news
{
	border: 2px solid #fa760090;
	box-shadow: 1px 1px 10px #fa760030;
}*/
.latest-news .news-swiper a:hover .content .head
{
	color: #fa760080;
}
.dated-news
{
	width: calc(100% - 4px);
	height: 100px;
	overflow: hidden;
	border-bottom: .3px solid #12121270;
	display: block;
	padding-bottom: 10px;
	padding-top: 5px;
	background: #fff;
}
.dated-news .date
{
	display: inline-block;
	width: calc(22% - 22px);
	height: calc(100% - 20px);
	float: left;
	border-radius: 6px;
	margin: 10px;
	border-right: 1px solid #fa7600;
}
.dated-news .date .day
{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	color: #12121296;
}
.dated-news .date .month
{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 13px;
	color: #12121290;
}
.dated-news .date .year
{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 13px;
	color: #12121290;
}
.dated-news .content
{
	display: inline-block;
	width: calc(78% - 10px);
	height: calc(100% - 10px);
	float: right;
	padding: 5px;
}
.dated-news .content .head
{
	font-size: 15px;
	font-weight: 600;
	color: #121212;
}
.parallex
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.parallex .parallex-background
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.parallex .parallex-background .swiper-wrapper .swiper-slide img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.parallex .parallex-background .parallex-pagination .swiper-pagination-bullet-active
{
	width: 7px !important;
	height: 25px !important;
}
.parallex .parallex-background .parallex-pagination
{
	left: 8px;
}
.parallex .parallex-cont
{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #12121280;
	z-index: 5;
}
.parallex .parallex-cont > div
{
	transform: translateY(0%);
}
.parallex .head
{
	color: #fff;
	text-shadow: 10px;
	text-align: center;
	margin-bottom: 30px;

}
.parallex .parallex-icons
{
	display: grid;
	width: 100%;
	height: 100%;
	overflow: visible;
	grid-template-columns: auto auto auto;
	gap: 20px;
	transition: all 0.5s ease;
	z-index: 4;
}
.parallex .parallex-icons .icon i
{
	color: #fff;
	font-size: 25px;
}
.parallex .parallex-icons .icon
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 38px;
	margin: 5px;
	padding: 10px;
	background: #12121250;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #fa760050;
	box-shadow: 1px 1px 10px #12121230;
	transition: all 0.5s ease;
}
.parallex .parallex-icons .p-icon
{
	height: auto;
	width: auto;
	z-index: 2;
	-webkit-tap-highlight-color: transparent;
}
.parallex .parallex-icons .p-icon:hover .icon
{
	width: 50px;
	height: 50px;
	margin: 0;
	box-shadow: 1px 1px 10px #F7A60080;
}
.parallex .parallex-icons .p-icon center
{
	display: block;
	color: #fff;
	width: 75px;
	text-align: center;
}
.parallex .parallex-icons .p-icon:hover center
{
	display: block;
	color: #F7A600;
	font-size: 16px;
}


.parallex .parallex-cont .icons-swiper
{
	width: 260px;
	height: 260px;
	overflow: hidden;
	z-index: 5;
}

.parallex .parallex-cont .icons-swiper .icons-prev
{
	left: 0px;
}
.parallex .parallex-cont .icons-swiper .icons-next
{
	right: 0px;
}
.parallex .parallex-cont .icons-swiper .icons-prev,
.parallex .parallex-cont .icons-swiper .icons-next
{
	position: absolute;
	z-index: 5;
	color: #fa7600;
	font-size: 25px;
	top: 50%;
	width: auto;
}
.parallex .parallex-cont .icons-swiper .icons-prev i,
.parallex .parallex-cont .icons-swiper .icons-next i
{
	color: #fa7600;
	top: 50%;
	font-size: 30px;
}
.parallex .parallex-cont .icons-swiper .icons-scrollbar
{
	color: #fa7600;
	background: #12121290;
	font-size: 25px;
}

.department-swiper
{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.department-swiper .department-scrollbar
{
	position: relative !important;
	color: #fa7600;
	z-index: 0 !important;
}
.department-swiper .swiper-wrapper .swiper-slide
{
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}
.department-swiper .swiper-wrapper .swiper-slide .swiper-slide-wrap
{
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	margin: 15px;
	transition: all 0.5s ease;
}
.department-swiper .swiper-wrapper .swiper-slide a:hover .swiper-slide-wrap
{
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	margin: 10px;
	box-shadow: 1px 1px 10px #fa7600;
}
.department-swiper .swiper-wrapper .swiper-slide a:hover .swiper-slide-wrap .hor-cont-img
{
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	padding: 15px;
}
.department-swiper .swiper-wrapper .swiper-slide .swiper-slide-wrap img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.department-swiper .swiper-wrapper .swiper-slide .swiper-slide-wrap .hor-cont-img
{
	position: relative;
	top: calc(-100% - 6px);
	z-index: 5;
	color: #fff;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	padding: 10px;
	background: #12121280;
	overflow: hidden;
	transition: all 0.5s ease;
}
.department-swiper .swiper-wrapper .swiper-slide a
{
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.swiper-pagination
{
	z-index: 2 !important;
}
.swiper-pagination-bullet
{
	opacity: 1 !important;
	background:#fff !important;
	transition:all .3s linear !important;
}
.swiper-pagination-bullet-active
{
	border-radius: 5px !important;
	background-color:#fa7600 !important;
	width:30px !important;
}